.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        flex: 1 0 auto;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 72px;
    }
}